<header>

    <h1>Edit Track</h1>

</header>


<section class="edit-sec">
    <form action="/music/<%= music['id'] %>" class = "edit" method = "POST">
        <input type="hidden" name="_method" value = "PUT">

        <label for="">Track_name</label>
        <input type="text" name = "name" value= "<%= music['name']%>">

        <label for="">Genre</label>
        <input type="text" name = "genre" value= "<%= music['genre']%>">

        <label for="">Artist</label>
        <input type="text" name = "artist" value= "<%= music['artist']%>">

        <label for="">Track</label>
        <textarea name="" id="" cols="10" rows="1" value ="<%= music['track'] %>" ></textarea>
        

        <button>Done</button>

    </form>

</section>
<div class="reminder">

    <a class = "informer" href="/">BACK</a>

</div>