<header class = "head-all">

    <h1>◀︎Ele㉿troni㉿ Ar㉿ive▶︎</h1>
    

</header>

<section class="all-tracks">

    <% users_music.each do |music| %>
    <div class = "track_list" >
        <ul class = "track_ul">User ㉿<%= music['username'] %>㉿</li>
            <li>Name ▹ <%= music["name"]%></li>
            <li>Genre ☮︎ <%= music["genre"]%></li>
            <li>Artist ✩ <%= music["artist"]%></li>
            
        </ul>
     
    <%= music["track"] %>
    
    </div>

<% end %>



</section>
<p class="home-all">
    <a href="/">Home</a>
</p>